h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.card {
  border: 1px solid #000;
  border-radius: 5px;
}

img {
  border-radius: 3px;
  border: 1px solid black;
}
img,
table {
  margin: 10px 10px;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

tr:active {
  background-color: yellow;
}
.back {
  height: 445px;
  background-color: lightgreen;
}
